<html>
<head>
    <title>Natufresh</title>

<style type="text/css">
    body{
        background-color: #FFFFFF;
    }

    .principal{
        color: #399200;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        font-size: 2em;
    }

    img{
        width: 579px;
        height: 388px;
    }

    .naranja{
        color: #000;
    }
    .verde{
        color: #000;
    }
</style>
</head>
<body>

<div class="principal">
    <img src="{{STATIC_URL}}logo_natufresh.jpg" alt="logo natufresh" />

    <p class="naranja"><i>Sitio en Construcci&oacute;n</i></p>

    <p class="verde">contacto@natufresh.cl</p>
</div>

</body>
</html>
